<% layout('../base') -%>
<h1>product 등록페이지</h1>
<form action="/product" method="post" enctype="multipart/form-data">
  <input type="text" name="title" placeholder="title"/>
  <input type="text" name="introduction" placeholder="introduction"/>
  <input type="text" name="location" placeholder="location"/>
  <input type="text" name="maxPersonNum" placeholder="maxPersonNum"/>
  <input type="number" min="1" max="7" name="perweek" placeholder="일주일에 몇번?" />
  <input type="number" min="0" max="12" name="formonth" placeholder="몇달동안?" />
  <p>
      <input type="checkbox" name="weekday[]" value="월" id="mon" >
      <label for="mon">월</label>
  </p>
  <p>
      <input type="checkbox" name="weekday[]" value="화" id="tue" >
      <label for="tue">화</label>
  </p>
  <p>
      <input type="checkbox" name="weekday[]" value="수" id="wed" >
      <label for="wed">수</label>
  </p>
  <p>
      <input type="checkbox" name="weekday[]" value="목" id="thu" >
      <label for="thu">목</label>
  </p>
  <p>
      <input type="checkbox" name="weekday[]" value="금" id="fri" >
      <label for="fri">금</label>
  </p>
  <p>
      <input type="checkbox" name="weekday[]" value="토" id="sat" >
      <label for="sat">토</label>
  </p>
  <p>
      <input type="checkbox" name="weekday[]" value="일" id="sun" >
      <label for="sun">토</label>
  </p>
  <input type="file" name="images" />
  <input type="file" name="images" />
  <input type="file" name="images" />
  <input type="submit" />
</form>
