<!DOCTYPE html>
<html>
  <head>
    <title>Costudy</title>
    
  </head>
  <body>
    <header>
      <%-partial('partial/header')%>
    </header>
    <section>
      <%-body -%>
    </section>
    <footer>
      <%-partial('partial/footer')%>
    </footer>
  </body>
</html>
