<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
  </head>
  <body>
    <header>
      <%-partial('partial/header')%>
    </header>
    <section>
      <%-body -%>
    </section>
    <footer>
      <%-partial('partial/footer')%>
    </footer>
  </body>
</html>
