<!DOCTYPE html>
<html>
  <head>
    <title>Costudy</title>
    <!-- angular.js -->
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/application.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
  </head>
  <body>
    <header>
      <%-partial('partial/header')%>
    </header>
    <section>
      <%-body -%>
    </section>
    <footer>
      <%-partial('partial/footer')%>
    </footer>
  </body>
</html>
